<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaDisplay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OSXDisplay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SPSDisplay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6E352E11954DAAF00887DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6E352EE1954DC8100887DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6E353241955212900887DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6E353421955212900887DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
